.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0 50px;

  .logo-container {
    height: 39px;
    width: 50px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px 6px;
      cursor: pointer;
    }
  }
}
