@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

* {
  box-sizing: border-box;
  outline: none;
  backface-visibility: hidden;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Open Sans Condensed';
}

a {
  text-decoration: none;
  color: #000
}

::selection {
  background-color: #000;
  color: #fff;
}

.wrapper {
  padding: 20px 80px;
  animation: fadeIn 1s;
  animation-fill-mode:backwards;
}
